/*
	@theme ColdFusion Placeholder
	@placeholder coldfusion
*/

@base {
	color: #333;
	background-color: #fff;
}

cfm>tag>name {
	
}

literal.keyword {
	color: #0000ff;
}

source.coldfusion {

}

support.function.cfm {

}