/*
	@theme ColdFusion Placeholder
	@placeholder coldfusion
*/

cfm.tag, cfm.tag > attribute-name {
	color: #B19BBD;
}

cfm.tag > name {
	color:  #7a3e9d;
}

cfm operator, cfm keyword {
	color: #AB6526;
}

cfml.embedded output {
	color: #333;
}

cfml.embedded coldfusion.embedded {
	color: #AB6526;
}

function.cfm > method {
	color:  #AA3731;
}

function.cfm > parenthesis {
	color: #AB6526;
}